.login-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.792);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}


.login-content, .login-content>form {
  background: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  gap: 10px;
  margin: 50px auto;
  border-radius: 8px;

  .fui-Input {
    width: 60% !important;
  }
}
